<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0 ) { %>
            <ul>
                <% products.forEach(item => { %>
                    <li>
                        <p><%= item.title %> (<%= item.cartItem.quantity %>)</p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" value="<%= item.id %>" name="productID">
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No products in cart</p>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>