<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <p><%= product.title %></p>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
<%- include('../includes/footer.ejs') %>



